{% load static %}
{% load template_filters %}
<div id="chart">
    <div class="d-flex justify-content-center"><button id="btn_chart" class="btn w-25 rounded-pill"><i
                class="bi bi-chevron-compact-up text-warning"></i></button></div>
    <h5 class="text-center my-3">Charts</h5>

    <ul class="list-group text-white">

        {% for track in chart_full_tracks %}

        <li class="list-group-item step rounded-pill">
            <div class="d-flex justify-content-between">
                <form hx-post="{% url 'track' track.track.id %}" hx-target="#player_console" hx-swap="innerHTML"
                    hx-indicator="#load_chart-full_track_{{track.track.id}}">
                    <input type="hidden" name="tag" value="track"><input type="hidden" name="sub_tag"
                        value="charts"><input type="hidden" name="tagId" value="{{track.track.id}}">
                    <button type="submit">
                        <div class="d-flex track">
                            <div class="mx-2 my-auto text-light">
                                <div>{{track.chart.position}}</div>
                                <div class="mt-1">
                                    {% if track.chart.position == 1 %}<span>👑</span>{% elif track.chart.progress == 'up' %}
                                    <i class="bi bi-caret-up text-success"></i>
                                    {% elif track.chart.progress == 'down' %} <i
                                        class="bi bi-caret-down text-danger"></i> {% else %} <i class="bi bi-dash"></i>
                                    {% endif %}</div>
                            </div>
                            {% if track.track.cover_uri %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="my-auto ms-3 " style="text-align: left;">
                                <div class="text-light text-state-col">
                                    {{track.track.title}}
                                </div>
                                <div class="text-secondary text-state-col" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                    </button>
                </form>

                <div class="d-flex my-auto">
                    {% if track.track.content_warning == 'explicit' %}
                    <div class="my-auto">
                        <i class="bi bi-explicit"></i>
                    </div>
                    {% endif %}
                    <div class="ms-2">
                        <button id="btn_desc_{{track.track.id}}_charts" type="submit"><i
                                id="icon_desc_{{track.track.id}}_charts" class="bi bi-three-dots-vertical text-light"
                                style="font-size: 1.7rem;"></i></button>
                    </div>
                </div>
            </div>


            <!------------ TRACK CARD---------- -->

            <div id="desc_{{track.track.id}}_charts" class="mx-auto my-auto mt-4 show-track-desc"
                style="display: none; z-index: 99;">
                <ul class="list-group text-white">
                    <li class="list-group-item step rounded-pill mb-3">
                        <div class="d-flex">
                            {% if track.track.cover_uri %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="d-flex flex-column my-auto ms-3 " style="text-align: left;">
                                <div class="d-flex">
                                    <div class="text-light" style="font-size: medium;">
                                        {{track.track.title}}
                                    </div>
                                    <div class="ms-2 my-auto">
                                        {% if track.track.explicit %}
                                        <div>
                                            <i class="bi bi-explicit"></i>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-secondary" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %} ●
                                    {{track.track.duration_ms|to_mins_secs}}
                                </div>
                            </div>

                        </div>
                    </li>

                    <ul class="list-group text-white">
                        <div id="display_toggle_like_{{track.track.id}}_charts">
                            <div class="d-flex">
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_charts"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_like_{{track.track.id}}_charts"><input
                                                type="hidden" name="tag" value="track_like"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="charts"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_charts">{% if track.id|striptags in fav_tracks %}<i
                                                        class="bi bi-heart text-warning me-2">{% else %}<i
                                                            class="bi bi-heart text-light me-2">{% endif %}<span
                                                                class="ms-2">Like</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_like_{{track.track.id}}_charts" class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_charts"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_dislike_{{track.track.id}}_charts"><input
                                                type="hidden" name="tag" value="track_dislike"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="charts"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_charts"><i
                                                        class="bi bi-heartbreak text-light me-2"><span
                                                            class="ms-2">Dislike</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_dislike_{{track.track.id}}_charts" class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_album' track.id %}"
                                hx-target="#display_to_albums_{{track.track.id}}_charts" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_album_{{track.track.id}}_charts"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-vinyl text-light me-2"><span class="ms-2">Album</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_to_album_{{track.track.id}}_charts" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_albums_{{track.track.id}}_charts">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_artist' track.id %}"
                                hx-target="#display_to_artists_{{track.track.id}}_charts" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_artists_{{track.track.id}}_charts"><input type="hidden"
                                    name="tag" value="track"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i class="bi bi-mic text-light me-2"><span
                                            class="ms-2">Artist</span></i></button></form>
                        </li>
                        <div id="load_new_to_artists_{{track.track.id}}_charts" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_artists_{{track.track.id}}_charts">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'lyrics' track.id %}"
                                hx-target="#display_lyrics_{{track.track.id}}_charts" hx-swap="innerHTML"
                                hx-indicator="#load_new_lyrics_{{track.track.id}}_charts"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-body-text text-light me-2"><span
                                            class="ms-2">Lyrics</span></i></button></form>
                        </li>
                        <div id="load_new_lyrics_{{track.track.id}}_charts" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_lyrics_{{track.track.id}}_charts">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'add_tracks' track.id %}"
                                hx-target="#display_add_tracks_{{track.track.id}}_charts" hx-swap="innerHTML"
                                hx-indicator="#load_new_add_tracks_{{track.track.id}}_charts"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-plus-lg text-light me-2"><span class="ms-2">Add</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_add_tracks_{{track.track.id}}_charts" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_add_tracks_{{track.track.id}}_charts">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'video' track.id %}"
                                hx-target="#display_video_{{track.track.id}}_charts" hx-swap="innerHTML"
                                hx-indicator="#load_new_video_{{track.track.id}}_charts"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-film text-light me-2"><span class="ms-2">Video</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_video_{{track.track.id}}_charts" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_video_{{track.track.id}}_charts">

                        </div>
                    </ul>
                </ul>
            </div>

            <script>
                document.getElementById('btn_desc_{{track.track.id}}_charts').addEventListener("click", function () {
                    if (document.getElementById('desc_{{track.track.id}}_charts').style.display === "none" &&
                        document.getElementById('icon_desc_{{track.track.id}}_charts').classList.contains(
                            "text-light")) {
                        document.getElementById('desc_{{track.track.id}}_charts').style.display = "block";
                        document.getElementById('icon_desc_{{track.track.id}}_charts').classList.remove(
                            "text-light");
                        document.getElementById('icon_desc_{{track.track.id}}_charts').classList.add(
                            "text-warning");
                    } else {
                        document.getElementById('desc_{{track.track.id}}_charts').style.display = "none";
                        document.getElementById('icon_desc_{{track.track.id}}_charts').classList.remove(
                            "text-warning");
                        document.getElementById('icon_desc_{{track.track.id}}_charts').classList.add(
                            "text-light");
                    }

                });
            </script>


            <!------------ END TRACK CARD---------- -->




        </li>

        <div id="load_chart-full_track_{{track.track.id}}" class="htmx-indicator">
            <div class="text-center">
                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        {% endfor %}




        <div style="margin-bottom: 5rem;">

        </div>
    </ul>
</div>

<script>
    document.getElementById('btn_chart').addEventListener('click', () => {
        document.getElementById('chart').classList.add('hide-drop');
        setTimeout(() => {
            document.getElementById('chart').remove();
        }, 500);
    });
</script>