{% extends 'yandex_music_app/base.html' %}
{% load static %}
{% block title %}Recover Profile{% endblock %}
{% block content %}
{% if validlink %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There Was An Error With Your Form!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
<div class="container">
    <div class="d-flex justify-content-evenly align-items-center">
        <div class="d-flex flex-column-reverse">
            <div class=" justify-content-center align-items-center p-2">
                <div class="text-center">
                    <p class=" class=text-light bg-dark rounded my-4 p-2 w-100 ">RESET PASSWORD</p>


                    <p>Enter a new password.</p>
                </div>
                <form class="text-light" method="POST">

                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <input type="password" name="new_password1" autocomplete="new-password" class="form-control rounded-pill"
                            required id="id_new_password1" />
                        <label class="form-label" for="id_new_password1">New Password</label>
                    </div>

                    <div class="form-outline mb-4" style="font-size: small;">
                        <p class="text-center mb-0 ">Your password must contain at least 8 characters.</p>
                        <p class="text-center ">Your password can’t be entirely numeric or letters.</p>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" name="new_password2" autocomplete="new-password" required
                            id="id_new_password2" class="form-control rounded-pill" />
                        <label class="form-label" for="id_new_password2">New Password Confirmation</label>
                    </div>

                    <div class="d-flex justify-content-center"><button type="submit"
                            class="btn btn-secondary w-75 rounded-pill" id="reset">Reset Password</button></div>

                </form>

            </div>
            <div class="m-auto align-self-center p-2"><span class=" text-warning fw-bolder fst-italic text-nowrap display-4 m-auto ms-2"><span
                style="font-size: 10rem;" ><i class="bi bi-people-fill text-warning"></i></span>YM</div>
        </div>
    </div>
</div>
{% else %}<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>The Password Reset Link Was Invalid, Possibly Because It has Already Been Used.</p>
    <p>Please Request A New Password Reset!</p>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
{% endblock %}