{% extends 'yandex_music_app/base.html' %}
{% load static %}
{% block title %}Recover Profile{% endblock %}
{% block content %}



<div class="container">
    <div class="d-flex justify-content-evenly align-items-center">

        <div class="d-flex flex-column-reverse">
            <div class=" justify-content-center align-items-center p-2">
                <div class="text-center">
                    <p class="class=text-light bg-dark rounded my-4 p-2 w-100 ">PASSWORD RESET COMPLETE</p>

                    <p>Your password has been set.</p>
                    <p>You may go ahead and log in now.</p>
                </div>

                <a href="{% url 'login_user' %}" class="d-flex justify-content-center"><button type="submit"
                        class="btn btn-secondary w-75 rounded-pill">Login</button></a>

            </div>
            <div class="m-auto align-self-center p-2"><span class=" text-warning fw-bolder fst-italic text-nowrap display-4 m-auto ms-2"><span
                style="font-size: 10rem;" ><i class="bi bi-people-fill text-warning"></i></span>YM</div>
        </div>
    </div>
</div>

{% endblock %}