{% load static %}
{% load template_filters %}
{% if load_type == 's_playlist' %}
<div id="{{playlist_.kind}}_s_playlist" class="overflow-auto search-height" style="transition: opacity 0.5s ease-out;">
    <div class="d-flex justify-content-center"><button id="btn_{{playlist_.kind}}_s_playlist"
            class="btn w-25 rounded-pill"><i class="bi bi-chevron-compact-up text-warning"></i></button></div>
    <ul style="border-radius: 30px;padding-left: 0;" class="border border-warning">
        <li class="d-flex flex-column">
            <div class="text-center my-1">
                <div>{{playlist_.title}}</div>
                <div>Created on:&nbsp;{{playlist_.created|split_date}}</div>
            </div><button class="btn"><i class="bi bi-play-circle text-warning"></i></button>
        </li>
        {% for track in playlist_tracks%}
        <li class="list-group-item step rounded-pill">
            <div class="d-flex justify-content-between">
                <form hx-post="{% url 'track' track.track.id %}" hx-target="#player_console" hx-swap="innerHTML"
                    hx-indicator="#load_track_{{track.id}}">
                    <input type="hidden" name="tag" value="playlist">
                    <input type="hidden" name="tagId" value="{{playlist_.uid}}:{{playlist_.kind}}">
                    <button type="submit">
                        <div class="d-flex track-inner">
                            {% if track.track.cover_uri %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="my-auto ms-3 " style="text-align: left;">
                                <div class="text-light text-state">
                                    {{track.track.title}}
                                </div>
                                <div class="text-secondary text-state" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %}
                                </div>
                            </div>

                        </div>
                    </button>
                </form>
                <div class="d-flex my-auto">
                    {% if track.track.content_warning == 'explicit' %}
                    <div class="my-auto">
                        <i class="bi bi-explicit"></i>
                    </div>
                    {% endif %}
                    <div class="ms-2">
                        <button id="btn_desc_{{track.track.id}}_s_playlist" type="submit"><i
                                id="icon_desc_{{track.track.id}}_s_playlist"
                                class="bi bi-three-dots-vertical text-light" style="font-size: 1.7rem;"></i></button>
                    </div>
                </div>
            </div>


            <!------------ TRACK CARD---------- -->

            <div id="desc_{{track.track.id}}_s_playlist" class="mx-auto my-auto mt-4 show-track-desc"
                style="display: none; z-index: 99;">
                <ul class="list-group text-white">
                    <li class="list-group-item step rounded-pill mb-3">
                        <div class="d-flex">
                            {% if track.track.cover_uri %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="d-flex flex-column my-auto ms-3 " style="text-align: left;">
                                <div class="d-flex">
                                    <div class="text-light" style="font-size: medium;">
                                        {{track.track.title}}
                                    </div>
                                    <div class="ms-2 my-auto">
                                        {% if track.track.content_warning %}
                                        <div>
                                            <i class="bi bi-explicit"></i>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-secondary" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %} ●
                                    {{track.track.duration_ms|to_mins_secs}}
                                </div>
                            </div>

                        </div>
                    </li>

                    <ul class="list-group text-white">
                        <div id="display_toggle_like_{{track.track.id}}_s_playlist">
                            <div class="d-flex">
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_s_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_like_{{track.track.id}}_s_playlist"><input
                                                type="hidden" name="tag" value="track_like"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="s_playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_s_playlist">{% if track.id|striptags in fav_tracks %}<i
                                                        class="bi bi-heart text-warning me-2">{% else %}<i
                                                            class="bi bi-heart text-light me-2">{% endif %}<span
                                                                class="ms-2">Like</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_like_{{track.track.id}}_s_playlist" class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_s_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_dislike_{{track.track.id}}_s_playlist"><input
                                                type="hidden" name="tag" value="track_dislike"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="s_playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_s_playlist"><i
                                                        class="bi bi-heartbreak text-light me-2"><span
                                                            class="ms-2">Dislike</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_dislike_{{track.track.id}}_s_playlist"
                                        class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_album' track.id %}"
                                hx-target="#display_to_albums_{{track.track.id}}_s_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_album_{{track.track.id}}_s_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-vinyl text-light me-2"><span class="ms-2">Album</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_to_album_{{track.track.id}}_s_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_albums_{{track.track.id}}_s_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_artist' track.id %}"
                                hx-target="#display_to_artists_{{track.track.id}}_s_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_artists_{{track.track.id}}_s_playlist"><input type="hidden"
                                    name="tag" value="track"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i class="bi bi-mic text-light me-2"><span
                                            class="ms-2">Artist</span></i></button></form>
                        </li>
                        <div id="load_new_to_artists_{{track.track.id}}_s_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_artists_{{track.track.id}}_s_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'lyrics' track.id %}"
                                hx-target="#display_lyrics_{{track.track.id}}_s_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_lyrics_{{track.track.id}}_s_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-body-text text-light me-2"><span
                                            class="ms-2">Lyrics</span></i></button></form>
                        </li>
                        <div id="load_new_lyrics_{{track.track.id}}_s_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_lyrics_{{track.track.id}}_s_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'add_tracks' track.id %}"
                                hx-target="#display_add_tracks_{{track.track.id}}_s_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_add_tracks_{{track.track.id}}_s_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-plus-lg text-light me-2"><span class="ms-2">Add</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_add_tracks_{{track.track.id}}_s_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_add_tracks_{{track.track.id}}_s_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'video' track.id %}"
                                hx-target="#display_video_{{track.track.id}}_s_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_video_{{track.track.id}}_s_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-film text-light me-2"><span class="ms-2">Video</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_video_{{track.track.id}}_s_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_video_{{track.track.id}}_s_playlist">

                        </div>
                    </ul>
                </ul>
            </div>

            <script>
                document.getElementById('btn_desc_{{track.track.id}}_s_playlist').addEventListener("click",
                function () {
                    if (document.getElementById('desc_{{track.track.id}}_s_playlist').style.display ===
                        "none" && document.getElementById('icon_desc_{{track.track.id}}_s_playlist').classList
                        .contains("text-light")) {
                        document.getElementById('desc_{{track.track.id}}_s_playlist').style.display = "block";
                        document.getElementById('icon_desc_{{track.track.id}}_s_playlist').classList.remove(
                            "text-light");
                        document.getElementById('icon_desc_{{track.track.id}}_s_playlist').classList.add(
                            "text-warning");
                    } else {
                        document.getElementById('desc_{{track.track.id}}_s_playlist').style.display = "none";
                        document.getElementById('icon_desc_{{track.track.id}}_s_playlist').classList.remove(
                            "text-warning");
                        document.getElementById('icon_desc_{{track.track.id}}_s_playlist').classList.add(
                            "text-light");
                    }

                });
            </script>


            <!------------ END TRACK CARD---------- -->



        </li>
        <div id="load_track_{{track.id}}" class="htmx-indicator">
            <div class="text-center">
                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>


<script>
    document.getElementById('btn_{{playlist_.kind}}_s_playlist').addEventListener('click', () => {
        document.getElementById('{{playlist_.kind}}_s_playlist').classList.add('hide-drop');
        setTimeout(() => {
            document.getElementById('{{playlist_.kind}}_s_playlist').remove();
        }, 500);
    });
</script>

{% elif 'artist' in load_type %}

<div id="{{playlist_.kind}}_{{load_type}}" class="overflow-auto search-height"
    style="transition: opacity 0.5s ease-out;">
    <div class="d-flex justify-content-center"><button id="btn_{{playlist_.kind}}_{{load_type}}"
            class="btn w-25 rounded-pill"><i class="bi bi-chevron-compact-up text-warning"></i></button></div>
    <ul style="border-radius: 30px;padding-left: 0;" class="border border-warning">
        <li class="d-flex flex-column">
            <div class="text-center my-1">
                <div>{{playlist_.title}}</div>
                <div>Created on:&nbsp;{{playlist_.created|split_date}}</div>
            </div><button class="btn"><i class="bi bi-play-circle text-warning"></i></button>
        </li>
        {% for track in playlist_tracks%}
        <li class="list-group-item step rounded-pill">
            <div class="d-flex justify-content-between">
                <form hx-post="{% url 'track' track.track.id %}" hx-target="#player_console" hx-swap="innerHTML"
                    hx-indicator="#load_track_{{track.id}}">
                    <input type="hidden" name="tag" value="playlist">
                    <input type="hidden" name="tagId" value="{{playlist_.uid}}:{{playlist_.kind}}">
                    <button type="submit">
                        <div class="d-flex track-inner">
                            {% if track.track.cover_uri %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="my-auto ms-3 " style="text-align: left;">
                                <div class="text-light text-state">
                                    {{track.track.title}}
                                </div>
                                <div class="text-secondary text-state" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %}
                                </div>
                            </div>

                        </div>
                    </button>
                </form>
                <div class="d-flex my-auto">
                    {% if track.track.content_warning == 'explicit' %}
                    <div class="my-auto">
                        <i class="bi bi-explicit"></i>
                    </div>
                    {% endif %}
                    <div class="ms-2">
                        <button id="btn_desc_{{track.track.id}}_artist_playlist" type="submit"><i
                                id="icon_desc_{{track.track.id}}_artist_playlist"
                                class="bi bi-three-dots-vertical text-light" style="font-size: 1.7rem;"></i></button>
                    </div>
                </div>
            </div>


            <!------------ TRACK CARD---------- -->

            <div id="desc_{{track.track.id}}_artist_playlist" class="mx-auto my-auto mt-4 show-track-desc"
                style="display: none; z-index: 99;">
                <ul class="list-group text-white">
                    <li class="list-group-item step rounded-pill mb-3">
                        <div class="d-flex">
                            {% if track.track.cover_uri %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="d-flex flex-column my-auto ms-3 " style="text-align: left;">
                                <div class="d-flex">
                                    <div class="text-light" style="font-size: medium;">
                                        {{track.track.title}}
                                    </div>
                                    <div class="ms-2 my-auto">
                                        {% if track.track.content_warning %}
                                        <div>
                                            <i class="bi bi-explicit"></i>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-secondary" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %} ●
                                    {{track.track.duration_ms|to_mins_secs}}
                                </div>
                            </div>

                        </div>
                    </li>

                    <ul class="list-group text-white">
                        <div id="display_toggle_like_{{track.track.id}}_artist_playlist">
                            <div class="d-flex">
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_artist_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_like_{{track.track.id}}_artist_playlist">
                                            <input type="hidden" name="tag" value="track_like"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="artist_playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_artist_playlist">{% if track.id|striptags in fav_tracks %}<i
                                                        class="bi bi-heart text-warning me-2">{% else %}<i
                                                            class="bi bi-heart text-light me-2">{% endif %}<span
                                                                class="ms-2">Like</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_like_{{track.track.id}}_artist_playlist"
                                        class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_artist_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_dislike_{{track.track.id}}_artist_playlist">
                                            <input type="hidden" name="tag" value="track_dislike"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="artist_playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_artist_playlist"><i
                                                        class="bi bi-heartbreak text-light me-2"><span
                                                            class="ms-2">Dislike</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_dislike_{{track.track.id}}_artist_playlist"
                                        class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_album' track.id %}"
                                hx-target="#display_to_albums_{{track.track.id}}_artist_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_album_{{track.track.id}}_artist_playlist"><button
                                    type="submit" class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-vinyl text-light me-2"><span class="ms-2">Album</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_to_album_{{track.track.id}}_artist_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_albums_{{track.track.id}}_artist_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_artist' track.id %}"
                                hx-target="#display_to_artists_{{track.track.id}}_artist_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_artists_{{track.track.id}}_artist_playlist"><input
                                    type="hidden" name="tag" value="track"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i class="bi bi-mic text-light me-2"><span
                                            class="ms-2">Artist</span></i></button></form>
                        </li>
                        <div id="load_new_to_artists_{{track.track.id}}_artist_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_artists_{{track.track.id}}_artist_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'lyrics' track.id %}"
                                hx-target="#display_lyrics_{{track.track.id}}_artist_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_lyrics_{{track.track.id}}_artist_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-body-text text-light me-2"><span
                                            class="ms-2">Lyrics</span></i></button></form>
                        </li>
                        <div id="load_new_lyrics_{{track.track.id}}_artist_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_lyrics_{{track.track.id}}_artist_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'add_tracks' track.id %}"
                                hx-target="#display_add_tracks_{{track.track.id}}_artist_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_add_tracks_{{track.track.id}}_artist_playlist"><button
                                    type="submit" class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-plus-lg text-light me-2"><span class="ms-2">Add</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_add_tracks_{{track.track.id}}_artist_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_add_tracks_{{track.track.id}}_artist_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'video' track.id %}"
                                hx-target="#display_video_{{track.track.id}}_artist_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_video_{{track.track.id}}_artist_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-film text-light me-2"><span class="ms-2">Video</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_video_{{track.track.id}}_artist_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_video_{{track.track.id}}_artist_playlist">

                        </div>
                    </ul>
                </ul>
            </div>

            <script>
                document.getElementById('btn_desc_{{track.track.id}}_artist_playlist').addEventListener("click",
                    function () {
                        if (document.getElementById('desc_{{track.track.id}}_artist_playlist').style.display ===
                            "none" && document.getElementById('icon_desc_{{track.track.id}}_artist_playlist')
                            .classList.contains("text-light")) {
                            document.getElementById('desc_{{track.track.id}}_artist_playlist').style.display =
                                "block";
                            document.getElementById('icon_desc_{{track.track.id}}_artist_playlist').classList
                                .remove("text-light");
                            document.getElementById('icon_desc_{{track.track.id}}_artist_playlist').classList.add(
                                "text-warning");
                        } else {
                            document.getElementById('desc_{{track.track.id}}_artist_playlist').style.display =
                                "none";
                            document.getElementById('icon_desc_{{track.track.id}}_artist_playlist').classList
                                .remove("text-warning");
                            document.getElementById('icon_desc_{{track.track.id}}_artist_playlist').classList.add(
                                "text-light");
                        }

                    });
            </script>


            <!------------ END TRACK CARD---------- -->



        </li>
        <div id="load_track_{{track.id}}" class="htmx-indicator">
            <div class="text-center">
                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>


<script>
    document.getElementById('btn_{{playlist_.kind}}_{{load_type}}').addEventListener('click', () => {
        document.getElementById('{{playlist_.kind}}_{{load_type}}').classList.add('hide-drop');
        setTimeout(() => {
            document.getElementById('{{playlist_.kind}}_{{load_type}}').remove();
        }, 500);
    });
</script>


{% else %}
<div id="{{playlist_.kind}}" class="overflow-auto search-height" style="transition: opacity 0.5s ease-out;">
    <div class="d-flex justify-content-center"><button id="btn_{{playlist_.kind}}" class="btn w-25 rounded-pill"><i
                class="bi bi-chevron-compact-up text-warning"></i></button></div>
    <ul style="border-radius: 30px;padding-left: 0;" class="border border-warning">
        <li class="d-flex flex-column">
            <div class="text-center my-1">
                <div>{{playlist_.title}}</div>
                <div>Created on:&nbsp;{{playlist_.created|split_date}}</div>
            </div><button class="btn"><i class="bi bi-play-circle text-warning"></i></button>
        </li>
        {% for track in playlist_tracks%}
        <li class="list-group-item step rounded-pill">
            <div class="d-flex justify-content-between">
                <form hx-post="{% url 'track' track.track.id %}" hx-target="#player_console" hx-swap="innerHTML"
                    hx-indicator="#load_track_{{track.id}}">
                    <input type="hidden" name="tag" value="playlist">
                    <input type="hidden" name="tagId" value="{{playlist_.uid}}:{{playlist_.kind}}">
                    <button type="submit">
                        <div class="d-flex track-inner">
                            {% if track.track.cover_uri %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 50px; width: 50px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="my-auto ms-3 " style="text-align: left;">
                                <div class="text-light text-state">
                                    {{track.track.title}}
                                </div>
                                <div class="text-secondary text-state" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %}
                                </div>
                            </div>

                        </div>
                    </button>
                </form>
                <div class="d-flex my-auto">
                    {% if track.track.content_warning == 'explicit' %}
                    <div class="my-auto">
                        <i class="bi bi-explicit"></i>
                    </div>
                    {% endif %}
                    <div class="ms-2">
                        <button id="btn_desc_{{track.track.id}}_playlist" type="submit"><i
                                id="icon_desc_{{track.track.id}}_playlist" class="bi bi-three-dots-vertical text-light"
                                style="font-size: 1.7rem;"></i></button>
                    </div>
                </div>
            </div>


            <!------------ TRACK CARD---------- -->

            <div id="desc_{{track.track.id}}_playlist" class="mx-auto my-auto mt-4 show-track-desc"
                style="display: none; z-index: 99;">
                <ul class="list-group text-white">
                    <li class="list-group-item step rounded-pill mb-3">
                        <div class="d-flex">
                            {% if track.track.cover_uri %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.cover_uri|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% else %}
                            <img style="height: 100px; width: 100px; border-radius: 50%;"
                                src="{{track.track.og_image|replace|extend}}" class="rounded-circle my-auto"
                                alt="">{% endif %}
                            <div class="d-flex flex-column my-auto ms-3 " style="text-align: left;">
                                <div class="d-flex">
                                    <div class="text-light" style="font-size: medium;">
                                        {{track.track.title}}
                                    </div>
                                    <div class="ms-2 my-auto">
                                        {% if track.track.content_warning %}
                                        <div>
                                            <i class="bi bi-explicit"></i>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-secondary" style="font-weight: 400;">
                                    {% for artist in track.track.artists %}{% if not forloop.last %}
                                    {{artist.name}} , {% else %} {{artist.name}} {% endif %} {% endfor %} ●
                                    {{track.track.duration_ms|to_mins_secs}}
                                </div>
                            </div>

                        </div>
                    </li>

                    <ul class="list-group text-white">
                        <div id="display_toggle_like_{{track.track.id}}_playlist">
                            <div class="d-flex">
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_like_{{track.track.id}}_playlist"><input
                                                type="hidden" name="tag" value="track_like"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_playlist">{% if track.id|striptags in fav_tracks %}<i
                                                        class="bi bi-heart text-warning me-2">{% else %}<i
                                                            class="bi bi-heart text-light me-2">{% endif %}<span
                                                                class="ms-2">Like</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_like_{{track.track.id}}_playlist" class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="d-flex flex-column w-50 text-center">
                                    <li class="list-group-item rounded-pill">
                                        <form hx-post="{% url 'toggle_like' %}"
                                            hx-target="#display_toggle_like_{{track.track.id}}_playlist"
                                            hx-swap="innerHTML"
                                            hx-indicator="#load_new_toggle_dislike_{{track.track.id}}_playlist"><input
                                                type="hidden" name="tag" value="track_dislike"><input type="hidden"
                                                name="id" value="{{track.track.id}}"><input type="hidden"
                                                name="location" value="playlist"><button type="submit"
                                                class="btn w-100 rounded-pill"><span
                                                    id="display_toggle_like_{{track.track.id}}_playlist"><i
                                                        class="bi bi-heartbreak text-light me-2"><span
                                                            class="ms-2">Dislike</span></i></span></button></form>
                                    </li>
                                    <div id="load_new_toggle_dislike_{{track.track.id}}_playlist"
                                        class="htmx-indicator">
                                        <div class="text-center">
                                            <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_album' track.id %}"
                                hx-target="#display_to_albums_{{track.track.id}}_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_album_{{track.track.id}}_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-vinyl text-light me-2"><span class="ms-2">Album</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_to_album_{{track.track.id}}_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_albums_{{track.track.id}}_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'to_artist' track.id %}"
                                hx-target="#display_to_artists_{{track.track.id}}_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_to_artists_{{track.track.id}}_playlist"><input type="hidden"
                                    name="tag" value="track"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i class="bi bi-mic text-light me-2"><span
                                            class="ms-2">Artist</span></i></button></form>
                        </li>
                        <div id="load_new_to_artists_{{track.track.id}}_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_to_artists_{{track.track.id}}_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'lyrics' track.id %}"
                                hx-target="#display_lyrics_{{track.track.id}}_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_lyrics_{{track.track.id}}_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-body-text text-light me-2"><span
                                            class="ms-2">Lyrics</span></i></button></form>
                        </li>
                        <div id="load_new_lyrics_{{track.track.id}}_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_lyrics_{{track.track.id}}_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'add_tracks' track.id %}"
                                hx-target="#display_add_tracks_{{track.track.id}}_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_add_tracks_{{track.track.id}}_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-plus-lg text-light me-2"><span class="ms-2">Add</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_add_tracks_{{track.track.id}}_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_add_tracks_{{track.track.id}}_playlist">

                        </div>
                        <li class="list-group-item rounded-pill ">
                            <form hx-post="{% url 'video' track.id %}"
                                hx-target="#display_video_{{track.track.id}}_playlist" hx-swap="innerHTML"
                                hx-indicator="#load_new_video_{{track.track.id}}_playlist"><button type="submit"
                                    class="btn w-100 text-start rounded-pill"><i
                                        class="bi bi-film text-light me-2"><span class="ms-2">Video</span></i></button>
                            </form>
                        </li>
                        <div id="load_new_video_{{track.track.id}}_playlist" class="htmx-indicator my-auto">
                            <div class="text-center">
                                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div id="display_video_{{track.track.id}}_playlist">

                        </div>
                    </ul>
                </ul>
            </div>

            <script>
                document.getElementById('btn_desc_{{track.track.id}}_playlist').addEventListener("click", function () {
                    if (document.getElementById('desc_{{track.track.id}}_playlist').style.display === "none" &&
                        document.getElementById('icon_desc_{{track.track.id}}_playlist').classList.contains(
                            "text-light")) {
                        document.getElementById('desc_{{track.track.id}}_playlist').style.display = "block";
                        document.getElementById('icon_desc_{{track.track.id}}_playlist').classList.remove(
                            "text-light");
                        document.getElementById('icon_desc_{{track.track.id}}_playlist').classList.add(
                            "text-warning");
                    } else {
                        document.getElementById('desc_{{track.track.id}}_playlist').style.display = "none";
                        document.getElementById('icon_desc_{{track.track.id}}_playlist').classList.remove(
                            "text-warning");
                        document.getElementById('icon_desc_{{track.track.id}}_playlist').classList.add(
                            "text-light");
                    }

                });
            </script>


            <!------------ END TRACK CARD---------- -->



        </li>
        <div id="load_track_{{track.id}}" class="htmx-indicator">
            <div class="text-center">
                <div class="spinner-grow text-warning spinner-grow-sm " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>


<script>
    document.getElementById('btn_{{playlist_.kind}}').addEventListener('click', () => {
        document.getElementById('{{playlist_.kind}}').classList.add('hide-drop');
        setTimeout(() => {
            document.getElementById('{{playlist_.kind}}').remove();
        }, 500);
    });
</script>

{% endif %}